body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url(swirl.gif);
}

.bstyle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f4f4f4; 
}

.divbody {
    background-color: white;
    padding: 20px;
    width: 80%;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.poetsen-one-regular1 {
    font-family: 'Poetsen One', sans-serif;
    font-size: 2em;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-left: 20px;
}

.btn {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 10px;
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.p1 {
    flex: 1;
    font-style: italic;
    margin-right: 20px;
    line-height: 1.8em;
}

.profile-img {
    width: 500px;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: -0.5em 0em 0.5em #ccc;
    margin-left: 1em;
}

.p2 {
    font-size: 1.1em;
    text-align: center;
    margin-top: 20px;
    line-height: 1.8em;
}

.secboot {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.social-icon {
    width: 2.5em;
    height: 2.5em;
    margin: 0 10px;
}

.secboot1 {
    text-align: center;
    margin-top: 20px;
}

.projects {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project-item {
    display: flex;
    align-items: center;
    line-height: 1.5em;
}

.project-img {
    width: 300px;
    height: auto;
    border-radius: 10px;
}

.profile-img-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p3 {
    flex: 1;
    font-style: italic;
    margin-left: 20px;
}
@media screen and (max-width: 600px) {
    .bstyle {
      width: 90%;
      flex-direction: column;
    
    }
    .buttons {
        height: 10%;
        flex-direction: column; 
    }
    .header {
        height: 10%;
        flex-direction: column;
    }
    .main-content {
        height: 10%;
        flex-direction: column;
    }
    .project-item {
        flex-direction: column;
    }
    .profile-img-container {
        flex-direction: column;
    }
  }
