/*Over All Theme*/
.bstyle {
    background-color: aliceblue;
    background-image: url(swirl.gif);
    padding: 5%;
}
.divbody {
  background-color:  white;
  border-radius: 2em;
  box-shadow: -0.5em 0em 0.5em #7c7c7c;

}
     /*Footer BootStrap*/
.boot {
  padding: 5%;
  display: flex;
  direction: row;
  justify-content: space-evenly;
}
.secboot {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  width: 9%;
  margin-left: 45.5%;
  padding-bottom: 2%;
}
.secboot1 {
  padding-bottom: 1%;
}
       /* End Footer Boot*/ 
       /* Buttons */
.btn {
  text-decoration: none;
  padding: 1.0%;
  background-color: white;
  color: black;
  font-family: "Poetsen One", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 2.5em;
}
.buttons {
  display: flex;
  flex-direction: row;
  padding: 10%;
}
      /*End Buttons*/

/*Element & Class Calls*/



img {
  display: flex;
  border-radius: 5em;
  box-shadow: -0.5em 0em 0.5em #7c7c7c;
  animation: fadeIn 5s;
}
.name {
  text-align: center;
}
.indextable {
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}
.projtable {
  display: flex;
}
.p1 {
  font-size: 1.5em;
  padding: 5%;
  line-height: 2;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  animation: fadeIn 5s;
}

.p2 {
  text-align: center;
  font-family: "Poetsen One";
  
}
.img1 {
  opacity: 0.5;
}
.trp {
  display: flex;
  animation: fadeIn 5s;

}
.p3 {
  padding: 5%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
}


/*Font Imports*/
.poetsen-one-regular1 {
  display: flex;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5rem;

}
/*Hover Effects*/
a:hover {
  color: #7c7c7c;

}
.boot:hover {
  color: #7c7c7c;
}
/*Animation Keyframes*/
@keyframes fadeIn {
  0% {opacity: 0; }
  100% {opacity: 1;}
}


  /* Mobile devices */
  @media screen and(max-width: 600px) {
    .index {
      width: 90%;
  
    }
  }

  /* Tablets */
  @media screen and(min-width: 601px) and (max-width: 900px) {
    .bstyle {
      width: 80%;
    }
  }

  /* Desktops */
  @media screen and(min-width: 901px) and (max-width: 1200px) {
    .bstyle {
      width: 70%;
    }
  }

  /* Large screens */
  @media screen and(min-width: 1201px) {
    .bstyle {
      width: 60%;
    }
  }
  @media screen and (max-width: 600px) {
   
    
  }










