/*Over All Theme*/
.bstyle {
    background-color: aliceblue;
    background-image: url(swirl.gif);
    padding: 5%;
}
.divbody {
  background-color:  white;
  border-radius: 10px;
  box-shadow: -5px 0px 4px #7c7c7c;

}
/*Element & Class Calls*/
.btn {
  text-decoration: none;
  padding: 1.0%;
  background-color: white;
  color: black;
  font-family: "Poetsen One", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 2.5em;
 
}
.buttons {
  display: flex;
  flex-direction: row;
}
img {
  display: flex;
  border-radius: 20px;
  box-shadow: -5px 0px 4px #7c7c7c;
  animation: fadeIn 5s;
}
.name {
  text-align: center;
}
.indextable {
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}
.p1 {
  font-size: 1.5em;
  padding: 5%;
  line-height: 2;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  animation: fadeIn 5s;
}
.boot {
  padding: 5%;
  display: flex;
  direction: row;
  justify-content: space-evenly;
}
.p2 {
  text-align: center;
  font-family: "Poetsen One";
  
}
.secboot {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  width: 9%;
  margin-left: 45.5%;
  padding-bottom: 2%;
}
/*Font Imports*/
.poetsen-one-regular1 {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5rem;
}
/*Hover Effects*/
a:hover {
  color: #7c7c7c;

}
.boot:hover {
  color: #7c7c7c;
}
/*Animation Keyframes*/
@keyframes fadeIn {
  0% {opacity: 0; }
  100% {opacity: 1;}
}












